@import url('https://fonts.googleapis.com/css?family=Titillium+Web');
body{
background-image: url(img/2.jpg);
background-size: 100%;
min-height: 4240px;
overflow-x: hidden;

}

#agency{
position: fixed;
z-index: 6;
margin-left: 20px;
margin-top: 10px;
color: #ffffff;
font-family: Lato,sans-serif;
font-size: 40px;
}
#tlo{
position: fixed;
background-color: rgba(0, 0, 0, 0.6);
top: 0%;
left: 0%;
height: 90px;
width: 100%;
z-index: 4;

}

#menu{
z-index: 5;
position: fixed;
top: 20px;
left: 550px;
color: #ffffff;
font-family: Lato,sans-serif;
font-size: 16px;
font-weight: bold;
ul li{
 list-style: none;
 display: inline;
 margin: 8px;
 color: #ffffff;
}
}
a{
text-decoration: none;
color: #ffffff;
}

#ikonka1{
z-index: 5;
position: fixed;
left: 1230px;
top: 30px;
font-size: 25px;
}

#ikonka2{
z-index: 5;
position: fixed;
left: 1270px;
top: 32px;
font-size: 22px;
}

#button {
position: absolute;
top: 520px;
left: 350px;

}
#macbook {
position: absolute;
top: 820px;
left: 550px;

}

#macbook img{
width: 85%; 
height: 85%;
}
#who {
position: absolute;
top: 750px;
left: 170px;
max-width: 400px;
}
h3{
font-family: fantasy;
font-size: 60px;
font-weight: 900;
color: #494949;

}
#who{
p{
margin-left: 10px;
font-size: 18px;
font-family: "Open Sans",sans-serif;
    color: #6a6a6a;
}
}
#what{
position: absolute;
left: 35%;
top: 195%;
font-family: fantasy;
font-size: 60px;
font-weight: 900;
color: #494949;

}

#icons{
position: absolute;
top: 195%;
left: 11%;
}
#whatIcons{
p{
margin-left: 5px;
font-size: 18px;
font-family: "Open Sans",sans-serif;
    color: #6a6a6a;
	max-width: 34%;
}
h4{
margin-left: 20px;
font-size: 34px;
font-family: Lato,sans-serif;
    color: #6a6a6a;
	line-height: 0px;
}
}

#firstIcon{
position: absolute;
top: 214%;
left: 16%;
}
#secondIcon{
position: absolute;
top: 214%;
left: 47%;
min-width: 60%;
}
#thirdIcon{
position: absolute;
top: 214%;
left: 77%;
min-width: 60%;
}
#fourthIcon{
position: absolute;
top: 253%;
left: 16%;
}
#fifthIcon{
position: absolute;
top: 253%;
left: 47%;
min-width: 60%;
}
#sixthIcon{
position: absolute;
top: 253%;
left: 77%;
min-width: 60%;
}
#how {
position: absolute;
top: 300%;
left: 11%;
p{
margin-left: 5px;
font-size: 18px;
font-family: "Open Sans",sans-serif;
    color: #6a6a6a;
	max-width: 22%;
	margin-top: 40px;
}
h1{
font-family: fantasy;
font-size: 60px;
font-weight: 900;
color: #494949;
	line-height: 0px;
}
a{
position: absolute;
top: 85%;
left: -1.5%;
}
}

#obrazek1 {

position: absolute;
top: 315%;
left: 33%;
overflow: hidden;
transform: skewX(-25deg);
width: 20%;
height: 300px;

img{

transform: skewX(25deg);
position: absolute;
top: -10px;
left: -80%;
overflow: hidden;
width: 678px;
height: 523px;
filter:brightness(60%);

}
h3{
position: absolute;
font-size: 50px;
color: #ffffff;
font-family: Lato,sans-serif;
letter-spacing: 0.01em;
top: -15%;
left: 70%;
transform: skewX(25deg);
}
h4{
position: absolute;
font-size: 42px;
font-family: Lato,sans-serif;
top: 60%;
left: 10%;
transform: skewX(25deg);
color: #ffffff;
}
p{
position: absolute;
font-size: 18px;
font-family: Lato,sans-serif;
top: 95%;
left: 23%;
max-width: 80%;
color: #ffffff;
transform: skewX(25deg);
}
}
#obrazek2 {
position: absolute;
top: 315%;
left: 57%;
overflow: hidden;
transform: skewX(-25deg);
width: 20%;
height: 300px;
img{

filter:brightness(70%);
transform: skewX(25deg);
position: absolute;
top: -50px;
left: -40%;
overflow: hidden;
width: 533px;
height: 376px;
}
h3{
position: absolute;
font-size: 50px;
color: #ffffff;
font-family: Lato,sans-serif;
letter-spacing: 0.01em;
top: -15%;
left: 70%;
transform: skewX(25deg);
}
h4{
position: absolute;
font-size: 42px;
font-family: Lato,sans-serif;
top: 60%;
left: 10%;
transform: skewX(25deg);
color: #ffffff;
}
p{
position: absolute;
font-size: 18px;
font-family: Lato,sans-serif;
top: 95%;
left: 23%;
max-width: 80%;
color: #ffffff;
transform: skewX(25deg);
}
}
#obrazek3 {
position: absolute;
top: 315%;
left: 81%;
overflow: hidden;
transform: skewX(-25deg);
width: 20%;
height: 300px;

img{
filter:brightness(70%);
position: absolute;
left: -160px;
transform: skewX(25deg);
}
h3{
position: absolute;
font-size: 50px;
color: #ffffff;
font-family: Lato,sans-serif;
letter-spacing: 0.01em;
top: -15%;
left: 70%;
transform: skewX(25deg);
}
h4{
position: absolute;
font-size: 42px;
font-family: Lato,sans-serif;
top: 60%;
left: 10%;
transform: skewX(25deg);
color: #ffffff;
}
p{
position: absolute;
font-size: 18px;
font-family: Lato,sans-serif;
top: 95%;
left: 23%;
max-width: 80%;
color: #ffffff;
transform: skewX(25deg);
}
}
#our{
position: absolute;
top: 380%;
left: 31%;
h2{
font-family: fantasy;
font-size: 60px;
font-weight: 900;
color: #494949;
	line-height: 0px;
}
}
#center{
z-index: 3;
position: absolute;
top: 410%;
left: 37%;

#opis1 {
transform:skew(50deg,0deg);
position: absolute;
width: 250px;
height: 55px;
background-color: black;
color: #ffffff;
overflow: visible;
z-index: 4;
top: 305px;
left: 60px;
p{
position: absolute;
left: 47px;
top: -13px;
transform: skewX(-50deg);
font-family: "Open Sans",sans-serif;
font-size: 26px;
font-weight: 700;
}
}
#zawod1{
transform:skew(50deg,0deg);
position: absolute;
top: 355px;
left: 140px;
width: 150px;
height: 25px;
background-color: rgb(188, 46, 58);
z-index: 5;
p{
position: absolute;
left: 40px;
top: -13px;
transform: skewX(-50deg);
color: #ffffff;
font-family: "Open Sans",sans-serif;
font-size: 16px;
font-weight: 700;

}
}

#centerpic{
position: absolute;
width: 300px;
height: 300px;
border-style: solid;
border-width: 15px;
border-color: #ffffff;
transform: rotate(45deg);
z-index: 3;
overflow: hidden;

img{

position: absolute;
top: -21%;
left: -23%;
max-width:160%;

transform: rotate(-45deg);

}
}
}
#left{
z-index: 2;
opacity: 0.8;
position: absolute;
top: 416%;
left: 18%;
#opis2 {
transform:skew(50deg,0deg);
position: absolute;
width: 183px;
height: 40px;
background-color: black;
color: #ffffff;
overflow: visible;
z-index: 4;
top: 235px;
left: 50px;

p{
position: absolute;
left: 45px;
top: -11px;
transform: skewX(-50deg);
font-family: "Open Sans",sans-serif;
font-size: 19px;
font-weight: 700;
}
}
#zawod2{
transform:skew(50deg,0deg);
position: absolute;
top: 270px;
left: 115px;
width: 110px;
height: 18px;
background-color: rgb(188, 46, 58);
z-index: 5;
opacity: 0;
p{
position: absolute;
left: 30px;
top: -11px;
transform: skewX(-50deg);
color: #ffffff;
font-family: "Open Sans",sans-serif;
font-size: 12px;
font-weight: 700;

}
}
#leftpic{
z-index: 2;
width: 220px;
height: 220px;
border-style: solid;
border-width: 11px;
border-color: #ffffff;
overflow: hidden;
transform: rotate(45deg);
img{
position: absolute;
top: -13%;
left: -19%;
max-width:160%;
transform: rotate(-45deg)scale(1.1);
}
}
}
#right{
opacity: 0.8;
position: absolute;
top: 416%;
left: 62%;
#opis3 {
transform:skew(50deg,0deg);
position: absolute;
width: 183px;
height: 40px;
background-color: black;
color: #ffffff;
overflow: visible;
z-index: 4;
top: 235px;
left: 50px;

p{
position: absolute;
left: 45px;
top: -11px;
transform: skewX(-50deg);
font-family: "Open Sans",sans-serif;
font-size: 19px;
font-weight: 700;
}
}
#zawod3{
transform:skew(50deg,0deg);
position: absolute;
top: 270px;
left: 115px;
width: 110px;
height: 18px;
background-color: rgb(188, 46, 58);
z-index: 5;
opacity: 0;
p{
position: absolute;
left: 30px;
top: -11px;
transform: skewX(-50deg);
color: #ffffff;
font-family: "Open Sans",sans-serif;
font-size: 12px;
font-weight: 700;

}
}
#rightpic{
z-index: 2;
width: 220px;
height: 220px;
border-style: solid;
border-width: 11px;
border-color: #ffffff;
overflow: hidden;
transform: rotate(45deg);

img{
position: absolute;
top: -13%;
left: -19%;
max-width:160%;
transform: rotate(-45deg)scale(1.1);
}
}
}
#arrowleft{
position:absolute;
top:423%;
left:8%;

width: 0;
	height: 0;
	border-top: 50px solid transparent;
	border-bottom: 50px solid transparent;
	border-right: 50px solid #F34A53;
	margin: 30px auto 0;
}
#arrowright{
position:absolute;
top:423%;
left:87%;

width: 0;
	height: 0;
	border-top: 50px solid transparent;
	border-bottom: 50px solid transparent;
	border-left: 50px solid #F34A53;
	margin: 30px auto 0;
}





footer{
font-family: Lato,sans-serif;
color: #fff;
font-size: 26px;
position: absolute;
top: 570%;
left: 40%;
#cont{
i{
position: absolute;
left: -50px;
font-size: 60px;
margin-top: 10px;
}
}
h4{
	margin: 10px;
    padding: 0px;
	margin-left: 40px;
}
#get{

h2{
    color: #a3a3a3;
	font-family: fantasy;
	font-size: 55px;
}
}

p{
margin-left: 41px;
margin-top: 0px;
margin-bottom: 0px;
padding: 0px;
font-size: 18px;
max-width: 220px;
}
#email{
position: absolute;
left: -110%;
}
#phone{
position: absolute;
left: 20%;
}
#office{
position: absolute;
left: 130%;
p{
min-width: 230px;
}
}
#fonts{
position: absolute;
top: 200%;
left: -80%;
border-bottom: 2px solid white; 

min-width: 690px;
padding-bottom: 10px;
i{
padding-left: 60px;
font-size: 22px;
padding-bottom: 50px;
}
}
#copyright{
position:absolute;
top: 250%;
left: -95%;
p{
min-width: 700px;
}
}
}

section{
position: absolute;
top: 480%;
left: 20%;
#say{


h4{
    color: #494949;
	font-family: fantasy;
	font-size: 56px;
}

}
#mainpic{
position: absolute;
box-shadow: -1px 2px 40px 0 grey;
left: -60px;
width: 180px;
height: 180px;
border-style: solid;
border-width: 15px;
border-color: #ffffff;
overflow: hidden;
transform: rotate(45deg);
img{
position:absolute;
top: -110px;
left: -130px;
transform: scale(0.7) rotate(-45deg);
}
}

#other1{
position: absolute;
left: 220px;
top: 320px;
width: 180px;
height: 180px;
border-style: solid;
border-width: 15px;
border-color: #ffffff;
overflow: hidden;
transform: rotate(45deg)scale(0.2);;
img{
position:absolute;
top: -55px;
left: -60px;
transform: scale(0.9) rotate(-45deg);
}
}
#other2{
position: absolute;
left: 280px;
top: 320px;
width: 180px;
height: 180px;
border-style: solid;
border-width: 15px;
border-color: #ffffff;
overflow: hidden;
transform: rotate(45deg) scale(0.2);
}
img{
position:absolute;
top: -55px;
left: -60px;
transform: scale(0.9) rotate(-45deg);
}
#other3{
position: absolute;
left: 340px;
top: 320px;
width: 180px;
height: 180px;
border-style: solid;
border-width: 15px;
border-color: #ffffff;
overflow: hidden;
transform: rotate(45deg)scale(0.2);
img{
position:absolute;
top: -110px;
left: -130px;
transform: scale(0.7) rotate(-45deg);
}
}
#something{

p{
margin-left: 230px;
max-width: 580px;
font-size: 21px;
font-family: "Open Sans",sans-serif;
color: #747474;
margin-bottom: 0px;
}
h6{
margin-top: 20px;
margin-left: 250px;
font-size: 21px;
color: #747474;
font-family: "Open Sans",sans-serif;
}

}
}